// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #167ffb;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
// Custom site colors
$re-green: #9ccc65;
$banner-dark: #0f2027;

$footer-font: #79a099;
$footer-dark: #282d32;
