<div class="container" id="new-container">
  <div class="mt-4 mb-3">
    <h3>Welcome to the refective community!</h3>
    <h4>Please fill in some information about your space!</h4>
  </div>
  <div class="space-new-form" style="width: 65%">
    <%= render "shared/space_new", space: @space %>
  </div>
</div>
