<div class="container">
  <%= render "shared/space-banner" %>
  <%# render shared/space-info %>
  <%# render shared/space-services  %>
  <%# render shared/space-availability %>
  <%# render shared/space-reviews  %>
  <%# render shared/space-map  %>
</div>