<h1><%= @space.name %></h1>
<ul>
    <li><%= @space.description %></li>
    <li><%= @space.availability %></li>
    <% if !@space.phone_number.nil? %>
      <li><%= @space.phone_number %></li>
    <% end %>
</ul>