<div class="container">
  <%= render "shared/space-banner" %>
  <div class="info-container w-50">
    <%= render "shared/space-info" %>
    <%# render shared/space-services  %>
    <%= render "shared/space-availability" %>
  </div>
  <%# render shared/space-reviews  %>
  <%# render shared/space-map  %>
</div>