<div class="card-product">
  <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= booking.space.name %></h2>
    </div>
    <div>
      <p><%= booking.item_description %></p>
      <p><%= booking.date %></p>
    </div>
    <div class="card-icons">
      <p><i class="fa fa-pencil fa-2x"></i></p>
      <p><i class="fa fa-trash fa-2x"></i></p>
    </div>
  </div>
</div>

