<div class="chat-card d-flex">
  <div class="user">
    <img src="https://kitt.lewagon.com/placeholder/users/kibex92" class="avatar-large" />
    <p>username</p>
  </div>
    <div class="message-content">
      <p><%= message.content %></p>
    </div>
</div>

