<div class="chat-card d-flex">
  <div class="user">
    <img src="https://kitt.lewagon.com/placeholder/users/kibex92" class="avatar-large" />
    <p>username</p>
  </div>
    <div class="message-content">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim sunt temporibus mollitia, culpa, ut pariatur odit accusamus quisquam saepe eaque ad accusantium, quasi at sed similique voluptatibus eligendi. Recusandae, ullam?</p>
    </div>
</div>

