<div class="card-product">
  <img src="https://kitt.lewagon.com/placeholder/users/kibex92" class="avatar-large" />
  <div class="card-product-infos">
    <h2>Product name</h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>

