<%# <div class="footer">
  <div class="footer-copyright">
    <i class="far fa-copyright"></i>2021 Refective, All rights reserved
  </div>
  <div class="footer-links">
    <a>Privacy policy</a>
    <a>About</a>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div> %>

<div class="footer-dark">
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-3 item">
      <h3>Services</h3>
      <ul>
        <li><a href="#">Web design</a></li>
        <li><a href="#">Development</a></li>
        <li><a href="#">Hosting</a></li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-3 item">
      <h3>About</h3>
      <ul>
        <li><a href="#">Company</a></li>
        <li><a href="#">Team</a></li>
        <li><a href="#">Repairing</a></li>
      </ul>
    </div>
    <div class="col-md-6 item text">
      <h3>Refective</h3>
      <p>Refective helps you repair your stuff by connecting you to nearby repair spaces and communities.</p>
    </div>
    <div class="col item social">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
  </div>
    <div class="footer-copyright">
    <i class="far fa-copyright"></i> 2021 Refective, All rights reserved
  </div>
</div>
</div>
