<div class="card-product">
  <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
  <div class="card-product-infos">
    <div class="card-product-title">
      <h2><%= space.name %></h2>
    </div>
    <div>
      <p><%= space.description %></p>
      <p>Appliances, Bicycles, and More</p>
    </div>
    <div>
      <p><i class="fa fa-star-o"></i>5.0</p>
    </div>
  </div>
</div>

