<div class="space-services mt-3 border-bottom w-75">
  <h5>Specialties:</h5>
  <p>
    <i class="fa fa-wrench" aria-hidden="true"></i>
    <%= @space.space_item_types.first.item_type.name %></p>
</div>
