<div class="space-info border-bottom mt-4 w-75">
  <% if @space.description.size > 0 %>
    <%= @space.description %>
  <% else %>
    <p>Come join us in our repair space!</p> 
    <p>We offer both open hours for coming in, as well as experts who can help you out! </p>
  <% end %>
  <hr>
  <div class="space-owner">
    <p><i class="fa fa-phone " ></i> <%= @space.phone_number %></p>
    <%#= Add Owner Avatar %>
  </div>
</div>
