<div class="space-banner">
  <h1><%= @space.name %></h1>
  <div class="d-flex">
    <%# if !@space.bookings.reviews.rating.nil? %>
      <p><%#= @space.bookings.reviews.rating %></p>
      <p>5/5 (10)</p>
      <p class="ml-1"><%= @space.address %></p>
    <%# else %>
     <p><%#= @space.address %></p>
    <%# end %> 
  </div>
  <div class="space-photo">
    <%#= @space.photo.key %>
    <img src="https://images.pexels.com/photos/4480505/pexels-photo-4480505.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
  </div>
  <div class="space-owner d-flex">
    <h4>by <%= @space.user.full_name %></h4>
    <%#= Add Owner Avatar %>
  </div>
</div>