<div class="space-banner">
  <div> 
    <h1><%= @space.name %></h1>
    <div class="d-flex">
        <p class="ml-1"><i class="fas fa-map-marker-alt"></i> <%= @space.address %></p>
    </div>
  </div>
  <div class="space-photo" style="border-radius: 15px w-75">
    <% if @space.photo.attached? %>
      <%= cl_image_tag @space.photo.key %>
    <% else %>
      <img src="https://res.cloudinary.com/chrisrg/image/upload/c_scale,w_702/v1614695131/refective/repair-shop1.jpg" />
    <% end %>
  </div>
</div>
