.cards {
  margin-top: 15px;
}

.home-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 100px;
}

.card-links {
  color: gray;
}

.card-links:hover {
  text-decoration: none;
  color: gray;
}
