.card-product-dashboard {
  overflow: hidden;
  height: 130px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  color: $banner-dark;
}

.card-product-dashboard a:hover {
  text-decoration: none;
}

.card-product-dashboard:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.0);
}

.card-product-dashboard img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.card-product-title-dashboard {
  display: flex;
  justify-content: space-between;
}

.card-product-title-dashboard h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  color: $banner-dark;
}

.card-product-dashboard p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $banner-dark;
}

.card-product-dashboard .card-product-infos-dashboard {
  padding: 5px 16px;
  flex-grow: 1;
}

.card-icons-dashboard {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-bottom: 5px;
}

.icon-container {
  display: flex;
  align-items: flex-end;
}

.fa-trash {
  color: $banner-dark;
  opacity: 0.7;
  &:hover {
    color: #dc143c;
    opacity: 1;
  }
}

.fa-pencil {
  color: $banner-dark;
  opacity: 0.7;
  &:hover {
    color: $re-green;
    opacity: 1;
  }
}

.fa {
  margin: 0 3px;
}

.card-product-dashboard .truncate {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
