.card-product.dashboard {
  align-items: start;
  color: $banner-dark;
}

.card-product-infos.dashboard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: $banner-dark;
}
