.card-product {
  overflow: hidden;
  height: 140px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 10px;
  border-radius: 12px;
  width: 100%;
  max-width: 600px;
  color: $banner-dark;
}

.card-product a:hover {
  text-decoration: none;
}

.card-product:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  transition: 0.3s;
  background: rgba(0, 0, 0, 0.0);
}

.card-product img {
  height: 100%;
  width: 250px;
  object-fit: cover;
}

.card-product-title {
  display: flex;
  justify-content: space-between;
}

.card-product-title h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  color: $banner-dark;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  color: $banner-dark;
}

.card-product .card-product-infos {
  padding: 5px 16px;
  flex-grow: 1;
}

.card-icons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.icon-container {
  display: flex;
  align-items: flex-end;
}

.fa-trash {
  color: #dc143c;
}

.fa {
  margin: 0 3px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.badge {
  font-size: 90%;
}